<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Imagine Dragons - Radioactive</string>
	<string>Gotye - Somebody that i used to know</string>
	<string>Beyonce - Sweet dreams</string>
	<string>Eminem ft Rihanna - The monster</string>
	<string>Katy Perry - Roar</string>
	<string>Lady Gaga - Poker face</string>
	<string>Pharrell Williams - Happy</string>
	<string>Pink - Just give me a reason</string>
</array>
</plist>
