<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Arkasia - Back as one original</string>
	<string>Empire Of The Sun - Alive</string>
	<string>Flo rida - Whistle</string>
	<string>PSY - Gangnam style</string>
	<string>Rihanna - Diamonds</string>
	<string>Sia - Chandelier</string>
	<string>Steve aoki - Cake face</string>
</array>
</plist>
