<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>AC:DC - Black in black</string>
	<string>AC:DC - Thunderstruck</string>
	<string>Deep Purple - Smoke on the water</string>
	<string>Queen - Show must go on</string>
	<string>The Beatles - Girl</string>
	<string>The Beatles - Yesterday</string>
</array>
</plist>
